.sitenav{
    padding: 3.2rem 0rem;
    &__list{
        @include responsive (phone){
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    &__link{ 
        transition: 0.5s ease;
        font-size: 1.8rem; 
        line-height: 1.23;
        font-weight: bold;
        color: $brand-color;
        text-decoration: none;
        line-height: 1.24;
    }
    
    &__link:hover{
        color: $black-color;
        
    }
    .active {
        color: $black-color;
    }
    .active:hover {
        opacity: 0.6;
        
    }
}
